:root{
    --Very-Dark-Blue: hsl(230, 17%, 14%);
    --White-Text: hsl(0, 0%, 100%);
    --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
    --hover-card: brightness(1.2);
}


/*Reset*/

*, *::before, *::after {
    box-sizing: border-box;
}

h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;
}
html {
    font-size: 14px;
}
img{
   
    max-width: 200px;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.8em;
}

